/* Global Styles ----------------------------------------------------------------- */
body {
  font-family: 'Arial', sans-serif;
  background: url('background for dev blog.jpg') center/cover no-repeat;
  font-size: 20px;
  color: rgb(119, 109, 109);
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: 'Times New Roman', serif;
}

header, section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

img.main-page {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-bottom: 2vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

/* Common Styles ----------------------------------------------------------------- */
body, header, section, ul, h2 {
  color: rgb(119, 109, 109);
}

/* Media Query for smaller screens ------------------------------------------------ */
@media only screen and (max-width: 768px) {
  body {
    font-size: 3vw;
  }

  header, section {
    width: 90%;
  }

  img {
    width: 80%;
    height: auto;
  }
}

/* Page-specific Styles --------------------------------------------------------- */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Header Styles for Each Page --------------------------------------------------- */
header h1 {
  font-family: 'Times New Roman', serif;
}

/* Section Heading Styles for Each Page ------------------------------------------- */
section h2 {
  font-family: 'Times New Roman', serif;
  display: inline-block;
  border: 1px solid rgb(207, 152, 152);
  margin: 10px 5px;
  padding: 5px;
}

/* Page-specific Styles --------------------------------------------------------- */
section.todo, section.fed, section.db, section.prg, section.osnf, section.imp, section.cacm {
  text-align: left;
}

/* Header Styles for Each Page --------------------------------------------------- */
header .todo, header .fed, header .db, header .prg, header .osnf, header .imp, header .cacm {
  font-family: 'Times New Roman', serif;
  text-align: left;
}

/* Section Heading Styles for Each Page ------------------------------------------- */
section h2.todo, section h2.fed, section h2.db, section h2.prg, section h2.osnf, section h2.imp, section h2.cacm {
  font-family: 'Times New Roman', serif;
  display: inline-block;
  border: 1px solid rgb(207, 152, 152);
  margin: 10px 5px;
  padding: 5px;
}
