/* main page ---------------------------------------------------------------------------------------------------------------------- */
body.main-page {
  font-family: 'Arial', sans-serif;
  background-image: url('background for dev blog.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-size: 25px;
  color: rgb(119, 109, 109);
}

header.main-page {
  padding: 10px;
  text-align: center;
  width: 80%;
  color: rgb(119, 109, 109);
}

ul.main-page {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: rgb(119, 109, 109);
}

li.main-page {
  display: inline;
  margin-right: 10px;
  color: rgb(119, 109, 109);
}

h1.main-page {
  font-family: 'Times New Roman', serif;
  color: rgb(119, 109, 109);
}

section.main-page {
  padding: 20px;
  width: 80%;
  margin-top: 20px;
  text-align: center;
  color: rgb(119, 109, 109);
}

img.main-page {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  color: rgb(119, 109, 109);
}

ul.main-page {
  font-family: 'Helvetica', sans-serif;
  color: rgb(119, 109, 109);
}

h2.main-page {
  font-family: 'Times New Roman', serif;
  color: rgb(119, 109, 109);
}

p.main-page {
  font-family: 'Helvetica', sans-serif;
  color: rgb(119, 109, 109);
}

/* todo list ---------------------------------------------------------------------------------------------------------------------- */
body.todo {
  font-family: 'Arial', sans-serif;
  background-image: url('background for dev blog.jpg'); 
  background-size: cover;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

ul.todo {
  font-family: "Helvetica", sans-serif;
  color: rgb(119, 109, 109)
}


header h1.todo {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

section h2.todo {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

h2.todo {
  font-family: 'Times New Roman', serif;
  color: rgb(119, 109, 109);
  display: inline-block; 
  border: 1px solid rgb(207, 152, 152); 
  margin: 10px 5px; 
  padding: 5px; 
}

/* fed ---------------------------------------------------------------------------------------------------------------------------- */
body.fed {
  font-family: 'Arial', sans-serif;
  background-image: url('background for dev blog.jpg'); 
  background-size: cover;
  font-size: 20px;
}

ul.fed {
  font-family: "Helvetica", sans-serif;
  color: rgb(119, 109, 109)
}

header h1.fed {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

section h2.fed {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

h2.fed {
  font-family: 'Times New Roman', serif;
  color: rgb(119, 109, 109);
  display: inline-block; 
  border: 1px solid rgb(207, 152, 152); 
  margin: 10px 5px; 
  padding: 5px; 
}


/* db ----------------------------------------------------------------------------------------------------------------------------- */
body.db {
  font-family: 'Arial', sans-serif;
  background-image: url('background for dev blog.jpg'); 
  background-size: cover;
  font-size: 20px;
}

ul.db {
  font-family: "Helvetica", sans-serif;
  color: rgb(119, 109, 109)
}

header h1.db {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

section h2.db {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

h2.db {
  font-family: 'Times New Roman', serif;
  color: rgb(119, 109, 109);
  display: inline-block; 
  border: 1px solid rgb(207, 152, 152); 
  margin: 10px 5px; 
  padding: 5px; 
}

/* prg --------------------------------------------------------------------------------------------------------------------------- */
body.prg {
  font-family: 'Arial', sans-serif;
  background-image: url('background for dev blog.jpg'); 
  background-size: cover;
  font-size: 20px;
}

ul.prg {
  font-family: "Helvetica", sans-serif;
  color: rgb(119, 109, 109)
}


header h1.prg {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

section h2.prg {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

h2.prg {
  font-family: 'Times New Roman', serif;
  color: rgb(119, 109, 109);
  display: inline-block; 
  border: 1px solid rgb(207, 152, 152); 
  margin: 10px 5px; 
  padding: 5px; 
}

/* osnf --------------------------------------------------------------------------------------------------------------------------- */
body.osnf {
  font-family: 'Arial', sans-serif;
  background-image: url('background for dev blog.jpg'); 
  background-size: cover;
  font-size: 20px;
}

ul.osnf {
  font-family: "Helvetica", sans-serif;
  color: rgb(119, 109, 109)
}


header h1.osnf {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

section h2.osnf {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

h2.osnf {
  font-family: 'Times New Roman', serif;
  color: rgb(119, 109, 109);
  display: inline-block; 
  border: 1px solid rgb(207, 152, 152); 
  margin: 10px 5px; 
  padding: 5px; 
}

/* imp ---------------------------------------------------------------------------------------------------------------------------- */
body.imp {
  font-family: 'Arial', sans-serif;
  background-image: url('background for dev blog.jpg'); 
  background-size: cover;
  font-size: 20px;
}

ul.imp {
  font-family: "Helvetica", sans-serif;
  color: rgb(119, 109, 109)
}


header h1.imp {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

section h2.imp {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

h2.imp {
  font-family: 'Times New Roman', serif;
  color: rgb(119, 109, 109);
  display: inline-block; 
  border: 1px solid rgb(207, 152, 152); 
  margin: 10px 5px; 
  padding: 5px; 
}

/* CACM --------------------------------------------------------------------------------------------------------------------------- */
body.cacm {
  font-family: 'Arial', sans-serif;
  background-image: url('background for dev blog.jpg'); 
  background-size: cover;
  font-size: 20px;
}

ul.cacm {
  font-family: "Helvetica", sans-serif;
  color: rgb(119, 109, 109)
}


header h1.cacm {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

section h2.cacm {
  font-family: 'Times New Roman',serif ;
  color:rgb(119, 109, 109)
}

h2.cacm {
  font-family: 'Times New Roman', serif;
  color: rgb(119, 109, 109);
  display: inline-block; 
  border: 1px solid rgb(207, 152, 152); 
  margin: 10px 5px; 
  padding: 5px; 
}



